아이리스 머신러닝2

In [91]:
from sklearn import svm, metrics
import pandas as pd

In [92]:
csv = pd.read_csv('iris.csv')
print(type(csv))
print(csv)

<class 'pandas.core.frame.DataFrame'>
     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [93]:
# csv_data (훈련용 데이터) csv_label(훈련용 데이터 답)
csv_data = csv[['SepalLength','SepalWidth','PetalLength','PetalWidth']]
csv_data

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [94]:
csv_label = csv['Name']
csv_label

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [95]:
# 학습 전용 데이터 와 테스트 전용 데이터로 분할
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label =train_test_split(csv_data,csv_label)
train_data

     SepalLength  SepalWidth  PetalLength  PetalWidth
46           5.1         3.8          1.6         0.2
40           5.0         3.5          1.3         0.3
22           4.6         3.6          1.0         0.2
3            4.6         3.1          1.5         0.2
1            4.9         3.0          1.4         0.2
..           ...         ...          ...         ...
10           5.4         3.7          1.5         0.2
20           5.4         3.4          1.7         0.2
103          6.3         2.9          5.6         1.8
37           4.9         3.1          1.5         0.1
127          6.1         3.0          4.9         1.8

[112 rows x 4 columns]

In [96]:
#학습
clf = svm.SVC()
clf.fit(train_data,train_label)

SVC()

In [97]:
#예측
pre = clf.predict(test_data)
pre

array(['Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica'], dtype=object)

In [98]:
#평가
ac_accure = metrics.accuracy_score(test_label, pre)
ac_accure

0.9473684210526315

In [99]:
#정답률 출력
print('정답률 : ', ac_accure)

정답률 :  0.9473684210526315